
@{
    ViewData["Title"] = "Spending Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-action="GetSpendingTypes" asp-route-userInfoId="@ViewBag.UserInfoId">Manage spendings</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-action="GetSpendings" asp-route-userInfoId="@ViewBag.UserInfoId">Manage spending types</a>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>