@model UserInfo
@using System.Globalization;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>

    <h3>Your budget is @Model.Money.ToString("c", CultureInfo.CreateSpecificCulture("en-US"))</h3>

    <br />

    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-action="ManageIncomes">Manage incomes</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-action="ManageSpendings">Manage spendings</a>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
