
@{
    ViewData["Title"] = "Manage Spendings Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-controller="SpendingType" asp-action="Index">Manage spending types</a>
        </div>
        <div class="col-2">
            <a class="btn btn-primary" asp-controller="Spending" asp-action="Index">Manage spendings</a>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>